<st *ngIf="run_list && run_list.length > 0" #st [data]="run_list" [columns]="columns">
  <!-- 状态显示 -->
  <ng-template st-row="exit_code" let-item let-index="index" let-column="column">
    <nz-tag nzNoAnimation *ngIf="item.status == 0" [nzColor]="'yellow'">Pending</nz-tag>
    <nz-tag nzNoAnimation *ngIf="item.status == 1" [nzColor]="'yellow'">Running</nz-tag>
    <nz-tag nzNoAnimation *ngIf="item.status == 2 && item.exit_code == 0" [nzColor]="'green'">Success</nz-tag>
    <nz-tag nzNoAnimation *ngIf="item.status == 2 && item.exit_code != 0" [nzColor]="'red'">Failed</nz-tag>
    <nz-tag nzNoAnimation *ngIf="item.status == 3" [nzColor]="'gray'">Abort</nz-tag>
  </ng-template>

  <!-- 操作 -->
  <ng-template st-row="ops" let-item let-index="index" let-column="column">
    <a href="javascript:" (click)="showLog(item)">Log</a>
  </ng-template>
</st>