.masonry {
  width: 100%;
  margin: 10px auto;
  columns: 3;
  column-gap: 20px;

  .item {
    width: 100%;
    break-inside: avoid;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1440px) {
  .masonry {
    columns: 2;
  }
}

@media screen and (max-width: 960px) {
  .masonry {
    columns: 1;
  }
}

/* 512 960 1152 1440 1920 */
