<nz-card nzTitle="Host Access" [nzExtra]="opsTpl">
  <ng-template #opsTpl>
    <i nz-icon class="text-blue-light point" nzType="plus" nzTheme="outline" (click)="add()"></i>
  </ng-template>
  <div nz-row [nzGutter]="8" *ngIf="nodes.length > 0">
    <div *ngFor="let node of nodes" nz-col [nzSpan]="8">
      <nz-card [nzTitle]="node.name" [nzExtra]="itemTpl">
        <ng-template #itemTpl>
          <i nz-icon class="text-blue-light point mr-md" nzType="edit" nzTheme="outline" (click)="edit(node)"></i>
          <i nz-icon class="text-blue-light point" nzType="delete" nzTheme="outline" [nz-popconfirm]="'Are you sure to delete?'" (nzOnConfirm)="delete(node)"></i>
        </ng-template>
        <p>ssh {{node.username}}@{{node.host}} -p {{node.port}}</p>
      </nz-card>
    </div>
  </div>
  <nz-empty *ngIf="nodes.length == 0"></nz-empty>
</nz-card>
