<form nz-form [formGroup]="nodeEditForm" (ngSubmit)="submitForm()" [nzLayout]="'vertical'">
  <nz-form-item>
    <nz-form-label nzRequired>Name</nz-form-label>
    <nz-form-control nzErrorTip="Name can NOT be empty">
      <nz-input-group>
        <input type="text" nz-input formControlName="name" placeholder="Please input name"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired>Host name</nz-form-label>
    <nz-form-control nzErrorTip="Host name can NOT be empty">
      <nz-input-group>
        <input type="text" nz-input formControlName="host" placeholder="Please input hostname or IP. e.g. 192.168.1.100"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired>Port</nz-form-label>
    <nz-form-control nzErrorTip="Port can NOT be empty">
      <nz-input-group>
        <input type="number" nz-input formControlName="port" placeholder="Please input port"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired>Username</nz-form-label>
    <nz-form-control nzErrorTip="Username can NOT be empty">
      <nz-input-group>
        <input type="text" nz-input formControlName="username" placeholder="Please input username"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label>SSH private key</nz-form-label>
    <nz-form-control>
      <nz-input-group>
        <ngx-monaco-editor contenteditable="false" class="editor" style="height: 36vh"
                           [options]="editorOptions" formControlName="ssh_key">
        </ngx-monaco-editor>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
</form>

<div class="drawer-footer">
  <button nz-button [nzType]="'default'" (click)="close()">Cancel</button>
  <button nz-button [nzType]="'primary'" [disabled]="!nodeEditForm.valid" (click)="submitForm()">Save</button>
</div>
